@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  background-color: #a6fffe;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  display: block;
  margin: 0;
  padding: 30px;
  font-size: 16px;
  line-height: 1.5;
  font-size: 16px;
}

.input {
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  width: 300px;
  border: none;
  margin-right: 30px;
  background: transparent;
  border-bottom: 1px solid #656565;
  outline: none;
  color: rgb(0, 0, 0);
  width: 100%;
  text-decoration: none;
}

h1 {
  text-align: center;
  color: rgb(255, 0, 0);
}

img{
  width: 10%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  display: block;
}

.completado {
  text-decoration: line-through;
}

.agregar {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  box-shadow: 1px 4px 10px #0000;
  padding: 30px;
  border-radius: 30px;
  display: flex;
  color: black;
}

.container {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  box-shadow: 1px 4px 10px #0000;
  padding: 30px;
  border-radius: 30px;
  display: block;
  color: black;
}
li {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.btn {
  -webkit-border-radius: 30;
  -moz-border-radius: 30;
  border-radius: 30px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #03b0fa;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #0b66bc;
  text-decoration: none;
}

.limpiar {
  -webkit-border-radius: 30;
  -moz-border-radius: 30;
  border-radius: 30px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #cdd402;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.limpiar:hover {
  background: #afb42d;
  text-decoration: none;
}

.delete{
  .btn {
    -webkit-border-radius: 30;
    -moz-border-radius: 30;
    border-radius: 30px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #ff0000;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .delete:hover {
    background: #e60000;
    background-image: -webkit-linear-gradient(top, #e60000, #ad0000);
    background-image: -moz-linear-gradient(top, #e60000, #ad0000);
    background-image: -ms-linear-gradient(top, #e60000, #ad0000);
    background-image: -o-linear-gradient(top, #e60000, #ad0000);
    background-image: linear-gradient(to bottom, #e60000, #ad0000);
    text-decoration: none;
  }
}